<!DOCTYPE html>
<html>
<head>
	<title>Chat App</title>

	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
	<script defer src="script.js"></script>

	<link rel="stylesheet" href="/style.css">
	<link rel="icon" href="/icon.png">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<div id="join-room">

		<div id="text-shadow-class">
			<h1>Rooms list</h1>
		</div>

		<div id="rooms-list"></div>

		<div>
			<input type="text" name="username" id="username-input" placeholder="Your username" required>
		</div>

		<div>
			<button id="create-btn">Create Room</button>
			<button id="refresh-btn">Refresh</button>
		</div>
	</div>

	<div id="create-room">
		<div id="text-shadow-class">
			<h1>Create Room</h1>	
		</div>

		<form id="create-room-form">
			<input type="text" name="roomName" id="room-name-input" placeholder="Room Name" required><br>

			<label>Require Password</label>
			<input type="checkbox" name="private" id="private-input"><br>

			<input type="text" name="roomPassword" id="create-room-password-input" placeholder="Room Password" required disabled><br>
			<button>Create and join room</button>
		</form>
		<button class="leave-button">Back</button>
	</div>

	<div id="join-private-room">
		<div id="text-shadow-class">
			<h1 id="private-room-text"></h1>	
		</div>

		<form id="join-private-room-form">
			<input type="text" name="roomPassword" id="room-password-input" placeholder="Room Password" required>
			<p id="incorrect-message" hidden>Incorrect password</p>
			<br>
			<button>Join room</button>
		</form>
		<button class="leave-button">Back</button>
	</div>

	<div id="chatroom">
		<button class="leave-button">Leave Room</button>
		<br>
		<div id="room-info-div">
			<h3 id="room-name-text">Room name: </h3>
			<h3 id="username-text">Your username: </h3>

			<div id="show-users-list-info">
				<h3>List of users in room</h3>
				<button id="show-users-list-btn">Show</button>
				<div id="users-list"><p>epicgamer</p><p>epicgamer</p><p>epicgamer</p></div>
			</div>
			
		</div>
		<br>
		<div id=chatbox>
			<div id="messages-container"></div>
			<form id="send-container">
				<input type="text" name="message" id="message-input" required>
				<button>Send</button>
			</form>
		</div>
	</div>

</body>
</html>