<!DOCTYPE html>
<html>
<head>
	<title>Chat App</title>

	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
	<script defer src="script.js"></script>

	<style type="text/css">
		* {
			color: #f0f0f0;
			background-color: #0f0f0f;
			font-size: 20px;
		}

		body {
			text-align: center;
		}

		#messages-container {
			border: 2px white solid;
			text-align: left;
			display: inline-block;
			overflow-y: scroll;
			height: 70vh;
			width: 60vw;
			padding-left: 20px; 
			padding-right: 20px; 
			font-size: 25px;
		}

		#messages-container p:nth-child(2n) {
			background-color: #1f1f1f;
			margin: 0;
			padding: 5px;
		}
	</style>
</head>
<body>

	<div id="users-list">None</div>
	<div id="messages-container"></div>
	<form id="send-container">
		<label id="user-name"></label>
		<input type="text" name="message" id="message-input">
		<input type="submit">
	</form>

</body>
</html>