<!DOCTYPE html>
<html>
<head>
	<title>Chat App</title>

	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
	<script defer src="script.js"></script>

	<link rel="stylesheet" href="/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<div id="join-room">

		<div id="text-shadow-class">
			<h1>Rooms list</h1>
		</div>

		<div id="rooms-list">
			<div class="room-on-list">
				<h4 class="room-name-on-list">Room name</h4>
				<h4 class="users-amount-on-list">10 user(s)</h4>
				<h4 class="room-name-on-list">Public</h4>
			</div>
			<div class="room-on-list">
				<h4 class="room-name-on-list">Room name</h4>
				<h4 class="users-amount-on-list">10 user(s)</h4>
				<h4 class="room-name-on-list">Public</h4>
			</div>
		</div>

		<div>
			<button>Create Room</button>
			<button>Refresh</button>
		</div>
		



		<!--
		<form id="join-room-form">
			<input type="text" name="username" id="username-input" placeholder=" username" required><br>
			<input type="text" name="roomID" id="room-id" placeholder=" room ID"required><br>
			<button>Join room</button>

		</form>
		-->
	</div>

	<div id="chatroom">

		<div id="text-shadow-class">
			<p id="roomId-text"></p>
			<p id="users-list"></p>
			<p id="username-text"></p>
		</div>

		<div id=chatbox>
			<div id="messages-container"></div>
			<form id="send-container">
				<input type="text" name="message" id="message-input" required>
				<button>Send</button>
			</form>
		</div>
		<br>
		<button class="red-button">Leave Room</button>
	</div>

</body>
</html>