:root {
  --red-color: #f5220f;
  --blue-color: #09bfe8;
  --dark-color: #1a1a1a;
  --light-color: #ededed;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-size: 20px;
	font-family: Arial;
	color: var(--light-color);
}

body {
	text-align: center;
	height: 100vh;

	background: rgb(191,89,10);
	background: -moz-linear-gradient(186deg, rgba(191,89,10,1) 15%, rgba(19,19,19,1) 97%);
	background: -webkit-linear-gradient(186deg, rgba(191,89,10,1) 15%, rgba(19,19,19,1) 97%);
	background: linear-gradient(186deg, rgba(191,89,10,1) 15%, rgba(19,19,19,1) 97%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bf590a",endColorstr="#131313",GradientType=1);
}

/* JOIN ROOM (MENU) */

#join-room {
	padding-top: 5vh;
}

#rooms-list {
	display: inline-block;
	margin: 10px;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 60vh;
	width: 93%;
	max-width: 600px;

	background: rgba(0,0,0, 0.3);
	
}

/* each room panel */
.room-on-list {
	transition: 0.3s;
	cursor: pointer;
	width: 100%;
	padding: 10px 5px;

	border-bottom: solid 3px var(--dark-color);
	background-color: #34eb4f;
}
.room-on-list:hover {
	background-color : #2bc442;
}

.room-on-list h4 {
	display: inline-block;
	color: var(--dark-color);

	padding: 0 10px;
	font-size: 24px;
}

/* CREATE ROOM & JOIN PRIVATE ROOM */

#create-room, #join-private-room {
	padding-top: 30vh;
}


/* CHATROOM */

#chatroom {
	display: none;
	padding-top: 5vh;
}

#chatroom input {
	width: 60%;
	margin: 0;
}

#text-shadow-class {
	text-shadow: 2px 2px 3px black;
	margin-bottom: 10px;
}

#chatbox {
	display:inline-block;
	width: 80vw;
	max-width: 500px;
}

#messages-container {
	border: 2px white solid;
	text-align: left;
	display: inline-block;
	overflow-y: scroll;
	overflow-x: hidden;

	height: 60vh;
	width: 100%;
	padding-left: 20px; 
	padding-right: 20px; 
	font-size: 25px;
}

.self-msg {
	border-radius: 20px;
	width: 70%;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;

	color: var(--light-color);
	background-color: var(--dark-color);
	margin-left: 30%;
}

.other-msg {
	border-radius: 20px;
	width: 70%;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;

	color: var(--dark-color);
	background-color: var(--light-color);
	margin-left: 0;
}

.user-join {
	width: 100%;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;

	color: #35ff26;
}

.user-leave {
	width: 100%;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;

	color: #dfdfdf;
}


.leave-button {
	background-color: var(--red-color);
	color: var(--light-color);
}

h1 {
	font-size: 30px;
}

form {
	margin: 10px;
}

input {
	background-color: var(--dark-color);
	margin: 7px;
	padding: 5px;
}

button {
	border: none;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	color: var(--dark-color);
	font-weight: bold;
	background-color: var(--blue-color);
	box-shadow: 0px 0px 5px black;
	outline: none;
}
button:hover {
	cursor: pointer;
	box-shadow: 0px 0px 10px black;
}

