:root {
  --red-color: #f5220f;
  --blue-color: #09bfe8;
  --dark-color: #1a1a1a;
  --light-color: #ededed;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-size: 16px;
	font-family: Arial;
	color: var(--light-color);
}

body {
	text-align: center;
	min-height: 100vh;

	background: rgb(191,89,10);
	background: -moz-linear-gradient(186deg, rgba(191,89,10,1) 15%, rgba(50,30,20,1) 97%);
	background: -webkit-linear-gradient(186deg, rgba(191,89,10,1) 15%, rgba(50,30,20,1) 97%);
	background: linear-gradient(186deg, rgba(191,89,10,1) 15%, rgba(50,30,20,1) 97%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bf590a",endColorstr="#131313",GradientType=1);
}

#text-shadow-class {
	text-shadow: 2px 2px 3px black;
	margin-bottom: 10px;
}

/* JOIN ROOM (MENU) */

#join-room {
	padding-top: 5vh;
}

#rooms-list {
	display: inline-block;
	margin: 10px;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 60vh;
	width: 93%;
	max-width: 600px;

	background: rgba(0,0,0, 0.3);
}

/* 'no room found' message */
#rooms-list > p {
	padding: 10px;
}

/* each room panel */
.room-on-list {
	transition: 0.3s;
	cursor: pointer;
	width: 100%;
	padding: 10px 5px;

	border-bottom: solid 3px var(--dark-color);
	background-color: #34eb4f;
}
.room-on-list:hover {
	background-color : #2bc442;
}

.room-on-list h4 {
	display: inline-block;
	color: var(--dark-color);

	padding: 0 10px;
	font-size: 24px;
}

/* CREATE ROOM & JOIN PRIVATE ROOM */

#create-room, #join-private-room {
	padding-top: 30vh;
}


/* CHATROOM */

#chatroom {
	display: none;
	padding-top: 3vh;
}

#room-info-div {
	display: inline-block;
	width: 80vw;
	max-width: 650px;
	margin-bottom: 10px;
}

/* h3 username and h3 room name */
#room-info-div > h3 {
	display: inline-block;
	background-color: var(--dark-color);
	border: var(--light-color) 2px solid;
	margin: 0 8px 5px;
	padding: 10px;
}

#show-users-list-info {
	display: inline-block;
	background-color: var(--dark-color);
	border: var(--light-color) 2px solid;
	text-align: left;

	padding: 10px;
	width: 100%;
	max-width: 500px;
}

#show-users-list-info > h3, #show-users-list-btn {
	display: inline-block;
	margin: 0 5px;
	padding: 4px;
}
#show-users-list-btn {
	float: right;
}

#users-list {
	overflow: hidden;
	margin-top: 10px;
	transition: all 0.9s;
}
.collapsed-users-list {
	max-height: 0px;
}

/* each name in users list */
#users-list > p {
	display: inline-block;
	padding: 5px;
	margin: 0 15px 5px 5px;
	font-size: 0.9em;

	color: var(--dark-color);
	background-color: var(--light-color);
}


#chatbox {
	display:inline-block;
	width: 80vw;
	max-width: 500px;
}

#messages-container {
	border: 2px white solid;
	text-align: left;
	display: inline-block;
	overflow-y: scroll;
	overflow-x: hidden;

	height: 50vh;
	width: 100%;
	padding-left: 20px; 
	padding-right: 20px; 
	font-size: 25px;
}

.self-msg {
	border-radius: 20px;
	width: 70%;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;

	color: var(--light-color);
	background-color: var(--dark-color);
	margin-left: 30%;
}

.other-msg {
	border-radius: 20px;
	width: 70%;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;

	color: var(--dark-color);
	background-color: var(--light-color);
	margin-left: 0;
}

.user-join {
	width: 100%;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;

	color: #35ff26;
}

.user-leave {
	width: 100%;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;

	color: #dfdfdf;
}

#chatroom input {
	width: 60%;
	margin: 0;
}

.leave-button {
	background-color: var(--red-color);
	color: var(--light-color);
	font-size: 0.85em;
}

h1 {
	font-size: 30px;
}

form {
	margin: 10px;
}

input {
	background-color: var(--dark-color);
	margin: 7px;
	padding: 5px;
}
input[type="text"]:disabled {
	background-color: var(--light-color);
	cursor: not-allowed;
}

button {
	border: none;
	border-radius: 5px;
	padding: 8px;
	margin: 7px;
	color: var(--dark-color);
	font-weight: bold;
	background-color: var(--blue-color);
	box-shadow: 0px 0px 5px black;
	outline: none;
}
button:hover {
	cursor: pointer;
	box-shadow: 0px 0px 10px white;
}

